<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hippo.peeksunpin">

    <application android:label="Peeks Unpin">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="SSL unpinning for Peeks" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

    </application>

</manifest>
